html
    head
        title="this is a message in the head tag"
        //- link(rel="stylesheet", href="style.css")
    body
        h1(class="test")="3ra entrega proyecto final"
        h3="MAIN VIEW"
        form(action="/api/users/logout", method="POST")
            button(id="")="log out"

