html
    head
        title="this is a message in the head tag"
        link(rel="stylesheet", href="style.css")
    body
        div
            h1="Missing fields"
            h5="make sure to fill in both fields (username, password)"
        div
            a(href="/signup")="Back to sign up"